[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RSStest"]
	path = RSStest
	url = https://github.com/cran/RSStest
[submodule "homnormal"]
	path = homnormal
	url = https://github.com/cran/homnormal
